body {
    color: black;	
    background-color: white;
    font-family: "Comic Sans MS", cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
*{
    box-sizing: border-box;
}
.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
  font-size: 200px;
  color: white;
  padding-left: 25px;
  padding: 8px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}
h2{
    text-align: center;
}
.flesh{
    float: right;
    width: 30%;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    text-align: center;
    overflow: visible;
    font-weight: bold;
}
.chic{
    background-color: lightcoral;
}
.bf{
    background-color: red;
}
.ssh{
    background-color: goldenrod;
}
.room{
    width: 90%;
    overflow: none;
}
.matter {
    background-color: lightgrey;
    width: 92%;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
}
/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4{
    float: left;
    width: 33.33%;
    }
}
    
/********** Medium devices only **********/
@media (min-width: 762px) and (max-width: 991px){
.col-md-6, .col-md-12 {
    float: left;
    }
    .col-md-6 {
    width: 50%;
}
    .col-md-12 {
        width: 100%;
      }
    
    }
 /*****************Small devices only***********************/
@media (max-width: 767px) {
    .col-sm-12 {
    float: left;
}
.col-sm-12 {
    width: 100%;
 }
    